<div class="content-wrapper">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-inner">
        <div class="navbar-header">
          <a href="/"><%=image_tag "logo2.png" %></a>
          <div class="nav-bars-wrapper">
            <div class="nav-bars-inner">
              <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
            </div>
            <!-- /.nav-bars-inner -->
          </div>
          <!-- /.nav-bars-wrapper -->
        </div>
        <!-- /.nav-header -->

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
             <li><a href="/#about">About</a></li>
            <li><a href="/#contact">Contact</a></li>
            <li><a href="/events/show">Events</a></li>
        </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.navbar-inner -->
    </div>
    <!--/.container -->
  </nav>
  <!--/.navbar -->
  <div class="offset"></div>
  <div class="light-wrapper">
    <div class="container inner2">
      <div class="blog row">
        <div class="col-sm-8 list-view">
          <div class="blog-content">
            <div class="blog-post">
              <div class="post row">
                <div class="col-md-5">
                  <figure class="overlay"><a href="https://www.eventbrite.com.br/e/wknd-wars-miami-tickets-31537675035"><span class="over"><span>Go To Site</span></span> <%= image_tag "art/b1.jpg" %></a></figure>
                </div>
                <!-- /column -->
                <div class="col-md-7">
                  <div class="post-content">
                    <div class="meta"><span class="date">May 27, 2017</span><span class="comments"><a href="#">9 Comments</a></span></div>
                    <h3 class="post-title"><a href="https://www.eventbrite.com.br/e/wknd-wars-miami-tickets-31537675035">WKND WARS WARS 2017 - USA Edition</a></h3>
                    <p>One of the biggest fitness championships in Latin America has arrived in Miami. It will be 2 days of pure fitness and fun, with teams of three athletes (male, female or mixed) in the Beginner, Scaled and RX categories.</p>
                    <a href="https://www.eventbrite.com.br/e/wknd-wars-miami-tickets-31537675035" class="more">More info</a> </div>
                  <!-- /.post-content -->
                </div>
                <!-- /column -->

              </div>
              <!-- /.post -->

              <div class="post row">
                <div class="col-md-5">
                  <figure class="overlay"><a href="https://www.eventbrite.com/e/paddleboard-yoga-with-fernanda-casasbuenas-at-virginia-key-outdoor-center-vkoc-miami-fl-tickets-34399079573"><span class="over"><span>Get Tickets</span></span><%= image_tag "art/b2.jpg" %></a></figure>
                </div>
                <!-- /column -->
                <div class="col-md-7">
                  <div class="post-content">
                    <div class="meta"><span class="date">May 27, 2017</span><span class="comments"><a href="#">6 Comments</a></span></div>
                    <h3 class="post-title"><a href="https://www.eventbrite.com/e/paddleboard-yoga-with-fernanda-casasbuenas-at-virginia-key-outdoor-center-vkoc-miami-fl-tickets-34399079573">Paddleboard Yoga with Fernanda Casasbuenas at Virginia Key Outdoor Center</a></h3>
                    <p>Experience SUP Yoga like never before! Join Fernanda as she guides you through a fun and uplifting yoga practice, on the water. Enjoy your practice in our sheltered lagoon where manatees often swim right by your class.</p>
                    <a href="https://www.eventbrite.com/e/paddleboard-yoga-with-fernanda-casasbuenas-at-virginia-key-outdoor-center-vkoc-miami-fl-tickets-34399079573" class="more">Get Tickets</a> </div>
                  <!-- /.post-content -->
                </div>
                <!-- /column -->

              </div>
              <!-- /.post -->

              <div class="post row">
                <div class="col-md-5">
                  <figure class="overlay"><a href="https://www.eventbrite.com/e/zumba-tickets-33774916685?aff=es2"><span class="over"><span>Get tickets</span></span><%= image_tag "art/b3.jpg" %></a></figure>
                </div>
                <!-- /column -->
                <div class="col-md-7">
                  <div class="post-content">
                    <div class="meta"><span class="date">May 27, 2017</span><span class="comments"><a href="#">7 Comments</a></span></div>
                    <h3 class="post-title"><a href="https://www.eventbrite.com/e/zumba-tickets-33774916685?aff=es2">Zumba</a></h3>
                    <p>ts a fusion of Latin, international and popular music/dance themes creating a dynamic, exciting and effective fitness system. The routines feature aerobic/ fitness interval training with a combination of fast and slow rhythms that tone and sculpt the body with easy to follow steps.</p>
                    <a href="https://www.eventbrite.com/e/zumba-tickets-33774916685?aff=es2" class="more">Get tickets</a> </div>
                  <!-- /.post-content -->
                </div>
                <!-- /column -->

              </div>
              <!-- /.post -->

              <div class="post row">
                <div class="col-md-5">
                  <figure class="overlay"><a href="https://www.eventbrite.com/e/boot-camp-classes-tickets-33742360308"><span class="over"><span>Find out more</span></span><%= image_tag "art/b4.jpg" %></figure>
                </div>
                <!-- /column -->
                <div class="col-md-7">
                  <div class="post-content">
                    <div class="meta"><span class="date">May 29, 2017</span><span class="comments"><a href="#">8 Comments</a></span></div>
                    <h3 class="post-title"><a href="https://www.eventbrite.com/e/boot-camp-classes-tickets-33742360308">Bootcamp Functional Training</a></h3>
                    <p>Channel your inner beast with this one hour Metabolic conditioning class combining high intensity aerobic training through the use of low skill movements, such as squats, wall balls and kettle bell swings.Burn calories by consistently moving under varied functions of fitness with our skilled experienced coaches!
</p>
                    <a href="https://www.eventbrite.com/e/boot-camp-classes-tickets-33742360308" class="more">Find out more</a> </div>
                  <!-- /.post-content -->
                </div>
                <!-- /column -->

              </div>
              <!-- /.post -->

              <div class="post row">
                <div class="col-md-5">
                  <figure class="overlay"><a href="https://www.eventbrite.com/e/doral-fitcamps-tickets-28729265005"><span class="over"><span>Read More</span></span><%= image_tag "art/b5.jpg" %></figure>
                </div>
                <!-- /column -->
                <div class="col-md-7">
                  <div class="post-content">
                    <div class="meta"><span class="date">June 1, 2017</span><span class="comments"><a href="#">5 Comments</a></span></div>
                    <h3 class="post-title"><a href="https://www.eventbrite.com/e/doral-fitcamps-tickets-28729265005">DORAL FITCAMPS</a></h3>
                    <p>Looking to get in the best shape of your life along with a group of hard working coaches and motivated teammates? JOIN US! Making an impact in our community and people's lives.</p>
                    <a href="https://www.eventbrite.com/e/doral-fitcamps-tickets-28729265005" class="more">Read More</a> </div>
                  <!-- /.post-content -->
                </div>
                <!-- /column -->

              </div>
              <!-- /.post -->

              <div class="post row">
                <div class="col-md-5">
                  <figure class="overlay"><a href="https://www.eventbrite.com/e/healthy-by-eve-presents-fit-camp-tickets-31444301753"><span class="over"><span>More Info</span></span><%= image_tag "art/b6.jpg" %></a></figure>
                </div>
                <!-- /column -->
                <div class="col-md-7">
                  <div class="post-content">
                    <div class="meta"><span class="date">June 1, 2017</span><span class="comments"><a href="#">6 Comments</a></span></div>
                    <h3 class="post-title"><a href="https://www.eventbrite.com/e/healthy-by-eve-presents-fit-camp-tickets-31444301753">Healthy by Eve Presents: Fit Camp!</a></h3>
                    <p>Looking to lose weight? Gain weight? Maintain weight?
Hello, my name is Eve! I am currently studying Health and Human Behavior at the University of Florida. As I obtain my athletic training, strength coach, and nutritional specialist licenses, I am perfecting my craft by helping the people of my community get their bodies where they want them to be. Join me!</p>
                    <a href="https://www.eventbrite.com/e/healthy-by-eve-presents-fit-camp-tickets-31444301753" class="more">Read More</a> </div>
                  <!-- /.post-content -->
                </div>
                <!-- /column -->

              </div>
              <!-- /.post -->

            </div>
            <!-- /.blog-posts -->

          </div>
          <!-- /.blog-content -->

          <hr class="pt-0" />
          <div class="page-navi meta"> <a href="#" class="prev"><i class="budicon-arrow-left-1"></i> Older Posts</a> <a href="#" class="next">Newer Posts <i class="budicon-arrow-right-1"></i></a> </div>
        </div>
        <!-- /.blog-content -->

        <aside class="col-sm-4 sidebar">
          <div class="sidebox widget">
            <h4 class="widget-title">Search</h4>
            <form class="searchform" method="get">
              <input type="text" id="s1" name="s" value="Search something" onfocus="this.value=''" onblur="this.value='Search something'">
            </form>
          </div>
          <!-- /.widget -->

          <div class="sidebox widget">
            <h3 class="widget-title">About Us</h3>
            <p>HipFit is a social network created to connect individuals through fitness. Whether you’re an avid fitness lover, or looking to get into fitness, HipFit will make it easier to connect, meet, and maintain a consistent fitness routine!</p>
            <ul class="social">
              <li><a href="#"><i class="fa fa-rss"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <!-- /.widget -->

          <div class="sidebox widget">
            <h3 class="widget-title">Popular Posts</h3>
            <ul class="post-list">
              <li>
                <figure class="overlay icon-overlay small"> <a href="https://www.eventbrite.com/e/free-lesson-program-surf-skimboard-and-stand-up-paddle-board-lessons-tickets-30927960362?aff=es2"><%= image_tag "art/a1.jpg" %> </a> </figure>
                <div class="post-content">
                  <div class="meta"><span class="date">May 27, 2017</span></div>
                  <h4 class="post-title"> <a href="https://www.eventbrite.com/e/free-lesson-program-surf-skimboard-and-stand-up-paddle-board-lessons-tickets-30927960362?aff=es2">Surf, skimboard and stand up paddle board lessons.</a> </h4>
                </div>
              </li>
              <li>
                <figure class="overlay icon-overlay small"> <a href="https://www.eventbrite.com/e/kids-bubble-fitness-program-by-weekend-pe-ages-10-13-tickets-32458629635"><%= image_tag "art/a2.jpg" %> </a> </figure>
                <div class="post-content">
                  <div class="meta"><span class="date">may 28,2017</span></div>
                  <h4 class="post-title"> <a href="https://www.eventbrite.com/e/kids-bubble-fitness-program-by-weekend-pe-ages-10-13-tickets-32458629635">Kids Bubble Fitness Program by Weekend PE Ages 10-13</a> </h4>
                </div>
              </li>
              <li>
                <figure class="overlay icon-overlay small"> <a href="https://www.eventbrite.com/e/2017-running-day-5k-augusta-registration-33134586440"><%= image_tag "art/a3.jpg" %> </a> </figure>
                <div class="post-content">
                  <div class="meta"><span class="date">June 7, 2017</span></div>
                  <h4 class="post-title"> <a href="https://www.eventbrite.com/e/2017-running-day-5k-augusta-registration-33134586440">2017 Running Day 5K</a> </h4>
                </div>
              </li>
            </ul>
            <!-- /.post-list -->
          </div>
          <!-- /.widget -->

          <div class="sidebox widget">
            <h3 class="widget-title">Categories</h3>
            <ul class="unordered-list">
              <li><a href="#">Running (21)</a></li>
              <li><a href="#">Yoga (19)</a></li>
              <li><a href="#">Gym (16)</a></li>
              <li><a href="#">Crossfit (7)</a></li>
              <li><a href="#">Water Sports (12)</a></li>
              <li><a href="#">Lifestyle (14)</a></li>
            </ul>
          </div>
          <!-- /.widget -->

          <div class="sidebox widget">
            <h3 class="widget-title">Tags</h3>
            <ul class="unordered-list">
              <li><a href="#">Fitness (11)</a></li>
              <li><a href="#">Yoga (8)</a></li>
              <li><a href="#">Gym (6)</a></li>
              <li><a href="#">Crossfit (9)</a></li>
              <li><a href="#">Surf (14)</a></li>
              <li><a href="#">Fitcamp (7)</a></li>
            </ul>
          </div>
          <!-- /.widget -->
          <div class="sidebox widget">
            <h3 class="widget-title">Instagram</h3>
            <div class="tiles tiles-s instagram">
              <div id="instafeed-widget" class="items row row-offset-0"></div>
            </div>
            <!--/.tiles -->
          </div>
          <!-- /.widget -->

        </aside>
        <!-- /column .sidebar -->

      </div>
      <!-- /.blog -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.light-wrapper -->
</div>
<!-- /.content-wrapper -->
<footer class="inverse-wrapper">
  <div class="sub-footer">
    <div class="container inner">
      <div class="cell text-left">
        <p>© 2017 HipFit. All rights reserved.</p>
      </div>
      <!-- /.cell -->
      <div class="cell text-right">
        <ul class="social">
          <li><a href="#"><i class="fa fa-rss"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
          <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.sub-footer -->
  </div>
  <!-- /.container -->
</footer>

</body>
</html>
