
<div class="content-wrapper">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-inner">
        <div class="navbar-header">
          <a href="/"><%=image_tag "logo2.png" %></a>
          <div class="nav-bars-wrapper">
            <div class="nav-bars-inner">
              <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"></div>
            </div>
            </div>
            </div>


        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/#about">About</a> </li>
            <li><a href="/user_profile">Profile</a></li>
            <li><a href="">Workout</a> </li>
            <li><a href="/users/events">Events</a></li>
              <!-- <li><a href="/#contact">Contact</a> </li> -->
            </ul>
           </li>
           </ul>
        </div>
        </div>
        </div>


<div class="container">
    <div class="span3 well">
        <center>
        <%= image_tag current_user.picture %></a>
        <h3>Hi, <%= current_user.name %></h3>
        <%= current_user.age_range %> +
        <%= current_user.user_location %>
        <%= current_user.gender %>
        <%= link_to "Go to profile", current_user.link%><br><br>
        <%= link_to "See your matches!", users_match_path, class: 'btn btn-primary btn-sm'%></br>
        <%= link_to "Find other users", users_show_path, class: 'btn btn-primary btn-sm' %></br>
        <%= link_to "Change your exercise preferences", users_exercises_path, class: 'btn btn-primary btn-sm' %></br>
        <%= link_to "Sign out", logout_path, class: 'btn btn-primary btn-sm' %>


      <!--/.nav-collapse -->

    <!--/.navbar-inner -->
</nav>
  <!--/.container -->
  <div class="offset"></div>
  <div class="light-wrapper">
    <div class="container inner2">
        <div class="col-sm-8 list-view">
          <div class="blog-content">
            <div class="blog-post">
              <div class="post row">
                <div class="col-md-5">
                </div>
                </div>
                </div>
                </div>
                </div>
                  </div>
                  </div>

  <h1>User Profile</h1>
<%= link_to "See your matches!", users_match_path, class: 'btn btn-primary btn-sm'%></br>
<%= link_to "Find other users", users_show_path, class: 'btn btn-primary btn-sm' %></br>
<%= link_to "Change your exercise preferences", users_exercises_path, class: 'btn btn-primary btn-sm' %></br>
<%= link_to "Sign out", logout_path, class: 'btn btn-primary btn-sm' %>

		</center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Joe</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Joe Sixpack <small>USA</small></h3>
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Adobe CS 5.5</span>
                        <span class="label label-info">Microsoft Office</span>
                        <span class="label label-success">Windows XP, Vista, 7</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Joe</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
