
<div class="content-wrapper">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-inner">
        <div class="navbar-header">
          <a href="/"><%=image_tag "logo2.png" %></a>
          <div class="nav-bars-wrapper">
            <div class="nav-bars-inner">
              <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"></div>
            </div>
            </div>
            </div>


        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/#home">Home</a> </li>
            <li><a href="/user_profile">Profile</a></li>
            <li><a href="/users/workout">Workout</a> </li>
            <li><a href="/users/events">Events</a></li>
              <!-- <li><a href="/#contact">Contact</a> </li> -->
            </ul>

        </div>
        </div>
        </div>





      <!--/.nav-collapse -->

    <!--/.navbar-inner -->
</nav>
  <!--/.container -->

  <div class="light-wrapper">
    <div class="container inner">
      <div class="space20"></div>
      <div class="row"></div>
          <center>
          <%=link_to current_user.link do %><%= image_tag current_user.picture %></a><% end %>
          <h3>Hi, <%= current_user.name %></h3>
          <%= current_user.user_location %>
          <%= current_user.gender %>
          <%= link_to "", current_user.link%><br><br>
          <%= link_to "See your matches!", users_match_path, class: 'btn btn-primary btn-sm'%></br>
          <%= link_to "Find other users", users_show_path, class: 'btn btn-primary btn-sm' %></br>
          <%= link_to "Change your exercise preferences", users_exercises_path, class: 'btn btn-primary btn-sm' %></br>
          <%= link_to "Sign out", logout_path, class: 'btn btn-primary btn-sm' %>


		</center>
    </div>
    </div>
    <!-- Modal -->

                </div>
            </div>
        </div>
    </div>
</div>
