<div class="content-wrapper">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-inner">
        <div class="navbar-header">
          <a href="/"><%=image_tag "logo2.png" %></a>
          <div class="nav-bars-wrapper">
            <div class="nav-bars-inner">
              <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"></div>
            </div>
            </div>
            </div>


        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/#about">About</a> </li>
            <li><a href="/user_profile">Profile</a></li>
            <li><a href="">Workout</a> </li>
            <li><a href="/users/events">Events</a></li>
              <li><a href="/#contact">Contact</a> </li>
            </ul>
           </li>
           </ul>
        </div>
        </div>
        </div>


      <!--/.nav-collapse -->

    <!--/.navbar-inner -->
</nav>
  <!--/.container -->
  <div class="offset"></div>
  <div class="light-wrapper">
    <div class="container inner2">
        <div class="col-sm-8 list-view">
          <div class="blog-content">
            <div class="blog-post">
              <div class="post row">
                <div class="col-md-5">
                </div>
                </div>
                </div>
                </div>
                </div>
                  </div>
                  </div>

  <h1>User Profile</h1>
<%= link_to "See your matches!", users_match_path, class: 'btn btn-primary btn-sm'%></br>
<%= link_to "Find other users", users_show_path, class: 'btn btn-primary btn-sm' %></br>
<%= link_to "Change your exercise preferences", users_exercises_path, class: 'btn btn-primary btn-sm' %></br>
<%= link_to "Sign out", logout_path, class: 'btn btn-primary btn-sm' %>
