<div class="jumbotron">
  <div class="container">
  <h1>Explore Your Matches!</h1>
</div>
</div>



<div class="container">
  <div class="row">
<div class="col-lg-4">
  <a href="/user_profile"><< Back to Profile</a><br>
<% @result.each do |user| %>
<%=link_to user[:user].link do %><% image = user[:user].picture || default_image %><br>
  <%= image_tag image %>
  <% end %>
<h2><%= user[:user].name %></h2>
<%= user[:user].gender.upcase %><br>
<%= user[:user].user_location %><br>
Also likes
<% user[:matches].each do |e| %><br>
<%= e[:exercise_name] %>
<% end %><br>
<%=link_to user[:user].link do %><button type="button" class="btn btn-primary btn-md">Message on Facebook</button>
<hr>
<% end %>
<% end %>
