
<body class="onepage" data-spy="scroll" data-target=".navbar">
<div class="content-wrapper">
  <nav class="navbar nobg">
    <div class="container">
      <div class="navbar-inner">
        <div class="navbar-header">
          <a href="/"><%=image_tag "logo2.png" %></a>
          <div class="nav-bars-wrapper">
            <div class="nav-bars-inner">
              <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
            </div>
          </div>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">Welcome</a></li>
            <li><a href="/user_profile">Profile</a></li>
            <li><a href="/users/workout">Workout</a> </li>
            <li><a href="/users/events">Events</a></li>
          </ul>

    
        </div>
      </div>
    </div>
  </div>
</nav>
<section id="home">
  <div class="light-wrapper">
    <div class="rev_slider_wrapper fullscreen-container">
      <div id="slider" class="rev_slider fullscreenbanner" data-version="5.4.1">
        <ul>
          <li data-transition="parallaxtoright" data-fstransition="fade">
            <%= image_tag "art/slider-bg1.jpg" %>
            <div class="tp-caption light text-center"
            data-x="center"
            data-y="middle"
            data-voffset="['-35','-35','-35','-30']"
            data-fontsize="['55','55','45','30']"
            data-lineheight="['65','65','55','45']"
            data-width="['1100','980','700','450']"
            data-textAlign='["center","center","center","center"]'
            data-whitespace='["normal","normal","normal","normal"]'
            data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
            data-responsive="on"
            data-responsive_offset="on"
            style="z-index: 9;"></div>
            <div class="tp-caption light text-center"
            data-x="center"
            data-y="middle"
            data-voffset="['35','35','35','30']"
            data-fontsize="['55','55','45','30']"
            data-lineheight="['65','65','55','45']"
            data-width="['1100','980','700','450']"
            data-textAlign='["center","center","center","center"]'
            data-whitespace='["normal","normal","normal","normal"]'
            data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
            data-responsive="on"
            data-responsive_offset="on"
            style="z-index: 9;"> Connecting Individuals through Fitness</div>
          </li>
          <li data-transition="parallaxtoleft"><%= image_tag "art/slider-bg2.jpg" %>
            <div class="tp-caption light text-center"
            data-x="center"
            data-y="middle"
            data-voffset="['-35','-35','-35','-30']"
            data-fontsize="['55','55','45','30']"
            data-lineheight="['65','65','55','45']"
            data-width="['1100','980','700','450']"
            data-textAlign='["center","center","center","center"]'
            data-whitespace='["normal","normal","normal","normal"]'
            data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
            data-responsive="on"
            data-responsive_offset="on"
            style="z-index: 9;"></div>
            <div class="tp-caption light text-center"
            data-x="center"
            data-y="middle"
            data-voffset="['35','35','35','30']"
            data-fontsize="['55','55','45','30']"
            data-lineheight="['65','65','55','45']"
            data-width="['1100','980','700','450']"
            data-textAlign='["center","center","center","center"]'
            data-whitespace='["normal","normal","normal","normal"]'
            data-frames='[{"from":"x:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
            data-responsive="on"
            data-responsive_offset="on"
            style="z-index: 9;">Never workout alone</div>
          </li>
          <li data-transition="parallaxtobottom">
            <%= image_tag "demo.jpg", data: { bgposition: "center center", bgfit: "cover", bgrepeat: "no-repeat", "no-retina" => "" }, class: "rev-slidebg" %>
            <div class="rs-background-video-layer"
            data-forcerewind="on"
            data-volume="mute"
            data-videowidth="100%"
            data-videoheight="100%"
            data-videomp4="/demo.mp4"
            data-videopreload="preload"
            data-videoloop="none"
            data-forcecover="1"
            data-aspectratio="16:9"
            data-autoplay="true"
            data-autoplayonlyfirsttime="false"
            data-nextslideatend="true"
            data-dottedoverlay="darkoverlay"></div>
            <div class="tp-caption light text-center"
            data-x="center"
            data-y="middle"
            data-voffset="['-35','-35','-35','-30']"
            data-fontsize="['55','55','45','30']"
            data-lineheight="['65','65','55','45']"
            data-width="['1100','980','700','450']"
            data-textAlign='["center","center","center","center"]'
            data-whitespace='["normal","normal","normal","normal"]'
            data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:1.3;sY:1.3;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":100,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-responsive="on"
            data-responsive_offset="on"
            style="z-index: 9;">Sign Up</div>
            <div class="tp-caption light text-center"
            data-x="center"
            data-y="middle"
            data-voffset="['35','35','35','30']"
            data-fontsize="['55','55','45','30']"
            data-lineheight="['65','65','55','45']"
            data-width="['1100','980','700','450']"
            data-textAlign='["center","center","center","center"]'
            data-whitespace='["normal","normal","normal","normal"]'
            data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:1.3;sY:1.3;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":200,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-responsive="on"
            data-responsive_offset="on"
            style="z-index: 9;">Now!</div>
          </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<section id="about">
  <div class="light-wrapper">
    <div class="container inner">
      <h2 class="section-title text-center">HOW IT WORKS</h2>
      <div class="space30"></div>
      <div class="row gutter60 text-center">
        <div class="col-sm-6 col-md-4"> <span class="icon mb-20"><i class="budicon-heart"></i></span>
          <h2 class="upper">Connect With Facebook</h2>
          <p><h2>Sign in</h2>
            <em><%= notice %></em>
            <% if current_user %>
            Welcome <%= current_user.name %> you have successfully signed in!<br>
            <%= link_to "Sign out", logout_path %>
            <% else %>
            You are not signed in.<br>
            <%= link_to facebook_login_path do %><%= image_tag "art/facebook-login.jpg" %>
            <% end %>
            <% end %></p>
          </div>
          <div class="col-sm-6 col-md-4"> <span class="icon mb-20"><i class="budicon-gender-female"></i></span>
            <h4 class="upper">Get Matched With Other Users</h4>
            <p>Connect with others who have similar fitness interests</p>
          </div>
          <div class="about"></div>
          <div class="space20 visible-sm clearfix"></div>
          <div class="col-sm-6 col-md-4"> <span class="icon mb-20"><i class="budicon-meal"></i></span>
            <h4 class="upper">Plan Workouts/Attend Events Together</h4>
            <p>Whether you’re an avid fitness lover, or looking to get into fitness, HipFit will make it easier to connect, meet, and maintain a consistent fitness routine!</p>
          </div>
        </div>
      </div>
    </div>

</section>

    <div class="light-wrapper">
      <div class="container inner">
        <div class="row">
          <div class="col-sm-3">

            <div class="text-carousel-controls">
            </div>
          </div>

          <div class="col-sm-9">
            <div class="text-carousel text-center cs-hidden">
              <div class="item">
                <figure class="overlay"><a href="https://www.linkedin.com/in/michael-benrubi-4ba15594/?trk=nav_responsive_tab_profile"><span class="over"><span>Linkedin</span></span> <%= image_tag "art/mike.jpg" %></a></figure>
                <h5>Michael Benrubi</h5>
                <div class="space5"></div>
                <p>HipFit's CFO</p>
                <ul class="social">
                  <li><a href="www.twitter.com/djmikeb1"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="www.facebook.com/djmikeb1"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                </ul>
              </div>
              <div class="item">
                <figure class="overlay"><a href="https://www.linkedin.com/in/ariana-viale-29821129/"><span class="over"><span>Linkedin</span></span> <%= image_tag "art/ariana.jpg" %></a></figure>
                <h5>Ariana Viale </h5>
                <div class="space5"></div>
                <p>HipFit's CEO</p>
                <ul class="social">
                  <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div class="inverse-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-6">
          <!-- <div class="space30"></div> -->
          <a href="https://instagram.com/urbanshots/" class=""></a> </div>
          <div class="col-6">
            <div class="tiles tiles-s instagram">
              <div id="instafeed" class="items row row-offset-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="inverse-wrapper">
      <div class="sub-footer">
        <div class="container inner">
          <div class="cell text-left">
            <p>© 2017 HipFit. All rights reserved.</p>
          </div>


        </div>

      </div>
    </footer>
    </body>
