<div class="content-wrapper">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-inner">
        <div class="navbar-header">
          <a href="/"><%=image_tag "logo2.png" %></a>
          <div class="nav-bars-wrapper">
            <div class="nav-bars-inner">
              <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
            </div>
            <!-- /.nav-bars-inner -->
          </div>
          <!-- /.nav-bars-wrapper -->
        </div>
        <!-- /.nav-header -->

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/#home">Home</a> </li>
            <li><a href="/user_profile">Profile</a></li>
            <li><a href="#">Workout</a> </li>
            <li><a href="/users/events">Events</a></li>

          </ul>
          </li>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.navbar-inner -->
    </div>
    <!--/.container -->
  </nav>
  <!--/.navbar -->
  <div class="offset"></div>
  <div class="light-wrapper">
    <div class="container inner2">
      <div class="blog row">
        <div class="col-sm-8 list-view">
          <div class="blog-content">
            <div class="blog-post">
              <div class="post row">
                <div class="col-md-5">
                  <figure class="overlay"><a href="https://www.yelp.com/biz/uhealth-fitness-and-wellness-center-miami"><span class="over"><span>More info</span></span> <%= image_tag "art/uhealth.jpg" %></a></figure>
                </div>
                <!-- /column -->
                <div class="col-md-7">
                  <div class="post-content">
                    <div class="meta"></div>
                    <h3 class="post-title"><a href="https://www.yelp.com/biz/uhealth-fitness-and-wellness-center-miami">UHealth Fitness & Wellness Center</a></h3>
                    <p>It takes more than physical exercise to maintain good health. Balance is the key to leading a healthy lifestyle. Wellness is the dynamic process of becoming aware of, taking …</p>
                    <a href="https://www.yelp.com/biz/uhealth-fitness-and-wellness-center-miami" class="more">Find out more about UHealth</a> </div>
                  <!-- /.post-content -->
                </div>
                <!-- /column -->

              </div>
              <!-- /.post -->

              <div class="post row">
                <div class="col-md-5">
                  <figure class="overlay"><a href="https://www.yelp.com/biz/redzone-fitness-coral-gables-3"><span class="over"><span>More info</span></span><%= image_tag "art/redzone.jpg" %></a></figure>
                </div>
                <!-- /column -->
                <div class="col-md-7">
                  <div class="post-content">
                    <div class="meta"></div>
                    <h3 class="post-title"><a href="https://www.yelp.com/biz/redzone-fitness-coral-gables-3">RedZone Fitness</a></h3>
                    <p>RedZone FITNESS Facility is like nothing you've ever experienced. 2nd Location Is now in Open in Pinecrest. We are happy to announce our 14 Year Anniversary in Coral Gables and our …</p>
                    <a href="https://www.yelp.com/biz/redzone-fitness-coral-gables-3" class="more">Find out more about Redzone Fitness</a> </div>
                  <!-- /.post-content -->
                </div>
                <!-- /column -->

              </div>
              <!-- /.post -->

              <div class="post row">
                <div class="col-md-5">
                  <figure class="overlay"><a href="https://www.yelp.com/biz/youfit-health-clubs-miami-10"><span class="over"><span>More info</span></span><%= image_tag "art/youfit.jpg" %></a></figure>
                </div>
                <!-- /column -->
                <div class="col-md-7">
                  <div class="post-content">
                    <div class="meta"></div>
                    <h3 class="post-title"><a href="https://www.yelp.com/biz/youfit-health-clubs-miami-10">Youfit Health Clubs</a></h3>
                    <p>Find everything you need for an awesome workout at Youfit Health Clubs in Coral Gables at the corner of Coral Way & SW 70th Ct. Youfit has convenient locations near you with amazing …</p>
                    <a href="https://www.yelp.com/biz/youfit-health-clubs-miami-10" class="more">Find out more about Youfit</a> </div>
                  <!-- /.post-content -->
                </div>
                <!-- /column -->

              </div>
              <!-- /.post -->

              <div class="post row">
                <div class="col-md-5">
                  <figure class="overlay"><a href="https://www.yelp.com/biz/somi-fitness-miami"><span class="over"><span>More info</span></span><%= image_tag "art/somi.jpg" %></figure>
                </div>
                <!-- /column -->
                <div class="col-md-7">
                  <div class="post-content">
                    <div class="meta"></div>
                    <h3 class="post-title"><a href="https://www.yelp.com/biz/somi-fitness-miami">Somi Fitness</a></h3>
                    <p>This place is the Mecca of private training gyms in South Florida. Not only is it close and conveniently located to many South Miami places but has convenient hours and a wide variety of group classes as well as the personal training</p>
                    <a href="https://www.yelp.com/biz/somi-fitness-miami" class="more">Find out more about Somi</a> </div>
                  <!-- /.post-content -->
                </div>
                <!-- /column -->

              </div>
              <!-- /.post -->

              <div class="post row">
                <div class="col-md-5">
                  <figure class="overlay"><a href="https://www.yelp.com/biz/lift-fast-fitness-miami"><span class="over"><span>More info</span></span><%= image_tag "art/lift_fast.jpg" %></figure>
                </div>
                <!-- /column -->
                <div class="col-md-7">
                  <div class="post-content">
                    <div class="meta"></div>
                    <h3 class="post-title"><a href="https://www.yelp.com/biz/lift-fast-fitness-miami">Lift Fast Fitness</a></h3>
                    <p>All the coaches are amazing! Everyone here is super nice and helpful (coaches and members). Lift Fast Fitness offers classes at 6:15AM, 10AM, 4PM, 5PM, 6PM, 7PM, 8PM, and 9PM. </p>
                    <a href="https://www.yelp.com/biz/lift-fast-fitness-miami" class="more">Find out more about Lift Fast</a> </div>
                  <!-- /.post-content -->
                </div>
                <!-- /column -->

              </div>
              <!-- /.post -->

              <div class="post row">
                <div class="col-md-5">
                  <figure class="overlay"><a href="https://www.yelp.com/biz/sensory-fitness-miami"><span class="over"><span>More Info</span></span><%= image_tag "art/sensory.jpg" %></a></figure>
                </div>
                <!-- /column -->
                <div class="col-md-7">
                  <div class="post-content">
                    <div class="meta"></div>
                    <h3 class="post-title"><a href="https://www.yelp.com/biz/sensory-fitness-miami">Sensory Fitness</a></h3>
                    <p>Sensory Fitness is a specialized boutique fitness studio located in Miami near The Falls shopping mall. We offer two signature classes that promote balance in the body: SWEAT (a …</p>
                    <a href="https://www.yelp.com/biz/sensory-fitness-miami" class="more">Find out more about Sensory Fitness</a> </div>
                  <!-- /.post-content -->
                </div>
                <!-- /column -->

              </div>
              <!-- /.post -->

            </div>
            <!-- /.blog-posts -->

          </div>
          <!-- /.blog-content -->


        </div>
        <!-- /.blog-content -->

        <aside class="col-sm-4 sidebar">
          <div class="sidebox widget">
            <h4 class="widget-title">Search</h4>
            <form class="searchform" method="get">
              <input type="text" id="s1" name="s" value="Search something" onfocus="this.value=''" onblur="this.value='Search something'">
            </form>
          </div>
          <!-- /.widget -->

          <div class="sidebox widget">
            <div class="col-sm-14">
              <h3 class="post title">Top Gyms in your area</h3>
              <p>According to your location, these are the top 10 gyms in your area-based on Yelp ratings</p>
              <div class="space10"></div>
              <ul class="progress-list">
                <li>
                  <p>UHealth Fitness & Wellness Center</p>
                  <div class="bar" data-value="95"></div>
                </li>
                <li>
                  <p>RedZone Fitness</p>
                  <div class="bar" data-value="85"></div>
                </li>
                <li>
                  <p>Youfit Health Clubs</p>
                  <div class="bar" data-value="80"></div>
                </li>
                <li>
                  <p>Somi Fitness</p>
                  <div class="bar" data-value="75"></div>
                </li>
                <li>
                  <p>Lift Fast Fitness</p>
                  <div class="bar" data-value="70"></div>
                </li>
                <li>
                  <p>Sensory Fitness</p>
                  <div class="bar" data-value="65"></div>
                </li>
                <li>
                  <p>Anotherlevelfit</p>
                  <div class="bar" data-value="60"></div>
                </li>
                <li>
                  <p>Bodytek Fitness - Wynwood</p>
                  <div class="bar" data-value="60"></div>
                </li>
                <li>
                  <p>Iron Tribe Fitness - Coral Gables</p>
                  <div class="bar" data-value="55"></div>
                </li>
                <li>
                  <p>Morphe</p>
                  <div class="bar" data-value="50"></div>
                </li>
              </ul>
              <!-- /.progress-list -->
            </div>
          </div>
          <div class="sidebox widget">
            <div class="col-sm-16">
              <h3>Google Map</h3>
              <figure class="overlay"><%= image_tag "art/gmap.png" %></figure>
            </div>
            <!--/.tiles -->
          </div>



          <!-- /.widget -->


          <!-- /.widget -->


          <!-- /.widget -->


          <!-- /.widget -->

          <!-- /.widget -->

        </aside>
        <!-- /column .sidebar -->

      <!-- /.blog -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.light-wrapper -->
</div>
<!-- /.content-wrapper -->
<footer class="inverse-wrapper">
  <div class="sub-footer">
    <div class="container inner">
      <div class="cell text-left">
        <p>© 2017 HipFit. All rights reserved.</p>
      </div>
      <!-- /.cell -->
      <div class="cell text-right">
        <ul class="social">
          <li><a href="#"><i class="fa fa-rss"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
          <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.sub-footer -->
  </div>
  <!-- /.container -->
</footer>


